
#p1 {
  height: 800px;
  width: 400px;
  margin: 20px;
  padding: 10px 10px;
  border: 15px solid black;
  background-color: green;
  position: fixed;
  left: 500px;
}

#p2 {
  width: 700px;
  margin: 20px;
  border: 10px solid blue;
  padding: 10px 10px;
  float: right;
}

#p3 {
  height: 900px;
  width: 400px; 
  margin: 20px;
	padding: 10px 10px;
	border: 10px solid #474E69;
}

#p4 {
  width: 400px; 
  margin: 20px;
  padding: 10px 10px;
  border: 10px solid #474E69;
}

h1 {
  position: relative;
  left: 20px;
}











